body {
    background-size: cover;
    background-repeat: no-repeat;
}



header {
    border: 1px solid black;
    background-color: white;
    
}

header img {
    height: 100px;
    width: 100px;
}

.main {
    background-image: url('../assets/forest.jpg');
    height: 100%;
    width: 100%;
}

.projects {
    border: 1px solid black;
    display: flex;
}

.project1, .project2, .project3, .project4 {
    border: 1px solid black;
    width: 30%;
    color: white;
}